@if(isLoading){
<app-pre-loader></app-pre-loader>}
<div class="container">
    <div class="image-container">
        <img src="../../assets/images/Mobile-login.jpg" alt="">
    </div>
    <div class="form-container">
        <h1>Log In</h1>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="field">
                <label for="email">Email</label>
                <input type="text" formControlName="email" id="email">
                @if(validator("email")){
                <small class="error">*Please Enter a valid Email address</small>
                }
            </div>
            <div class="field">
                <label for="email">Password</label>
                <input type="password" formControlName="password" id="password">
                @if(validator("password")){
                <small class="error">*This is a required field</small>
                }
            </div>
            <button class="btn" [disabled]="!userForm.valid">Login</button>
        </form>
    </div>

</div>