@if(isLoading){
<app-pre-loader></app-pre-loader>
}

<div class="wrapper">

    <div class="container">


        <div class="left-container">
            <div class="title">
                <h2>LOGIN</h2>
            </div>
            <div class="form-container">
                <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                    <div class="input-box">
                        <p-floatLabel>
                            <input pInputText id="email" type="email" formControlName="email" />
                            <label for="email">Email</label>
                        </p-floatLabel>
                        @if(validator("email")){
                        <small class="error" id="email-help">
                            *This is a required field.
                        </small>}
                    </div>

                    <div class="input-box">
                        <p-floatLabel>
                            <!-- <input pInputText id="password" [type]="passType" formControlName="password" />
                             -->
                            <p-password [toggleMask]="true" [feedback]="false" formControlName="password" />
                            <label for="password">Password</label>
                        </p-floatLabel>
                        @if(validator("password")){
                        <small class="error" id="password-help">
                            *This is a required field.
                        </small>}
                    </div>

                    <div class="button"> <p-button label="login" type="submit" /></div>

                </form>
            </div>
        </div>
        <div class="right-container">
            <div class="image-container">
                <img src="../../assets/images/Mobile-login.jpg" alt="">
            </div>
        </div>
    </div>
</div>