<div class="outer">
    <div class="container">
        <form [formGroup]="registrationForm">
            <h2 class="form-title">Registration Form</h2>
            <div class="content">
                <div class="group">
                    <div class="input-box">
                        <label for="fName">First Name <span class="required">*</span></label>
                        <input type="text" placeholder="First name" id="fName" formControlName="fName"
                            [class.error]="showValidate('fName')">
                        <small class="required" *ngIf="showValidate('fName')">{{showValidate('fName')}}</small>

                    </div>

                    <div class="input-box">
                        <label for="lName">Last Name<span class="required">*</span></label>
                        <input type="text" placeholder="Last name" id="lName" formControlName="lName"
                            [class.error]="showValidate('lName')">
                        <small class="required" *ngIf="showValidate('lName')">{{showValidate('lName')}}</small>
                    </div>
                </div>

                <div class="input-box">
                    <label for="email">Email<span class="required">*</span></label>
                    <input type="email" placeholder="Email" id="email" formControlName="email"
                        [class.error]="showValidate('email')">
                    <small class="required" *ngIf="showValidate('email')">{{showValidate('email')}}</small>
                </div>
                <div class="group">
                    <div class="input-box">
                        <label for="phone">Phone<span class="required">*</span></label>
                        <input type="tel" placeholder="Phone number" id="phone" formControlName="phone"
                            [class.error]="showValidate('phone')">
                        <small class="required" *ngIf="showValidate('phone')">{{showValidate('phone')}}</small>
                    </div>
                    <div class="input-box">
                        <label for="role">Role<span class="required">*</span></label>
                        <select name="role" id="role" formControlName="role">
                            <option value="Student" selected>
                                Student
                            </option>
                            <option value="Admin">
                                Admin
                            </option>
                        </select>


                    </div>
                </div>
                <div class="group">
                    <div class="input-box">
                        <label for="newPass">Create Password<span class="required">*</span></label>
                        <input type="password" placeholder="New password" id="newPass" formControlName="password"
                            [class.error]="showValidate('password')">
                        <small class="required" *ngIf="showValidate('password')">{{showValidate('password')}}</small>
                    </div>
                    <div class="input-box">
                        <label for="cPass">Confirm Password<span class="required">*</span></label>
                        <input type="password" placeholder="Confirm password" id="cPass" formControlName="cpassword">
                        <small class="required"
                            *ngIf="form.cpassword.errors?.['mismatch'] && form.cpassword.touched">Password do not
                            match<br></small>
                    </div>
                </div>

            </div>
            <button>Register</button>
        </form>
    </div>
</div>