<div class="container">
    <form formGroupName="registrationForm">
        <h2 class="form-title">Registration Form</h2>
        <div class="content">
            <div class="group">
                <div class="input-box">
                    <label for="fName">First Name</label>
                    <input type="text" placeholder="First name" id="fName" formControlName="fName">
                </div>
                <div class="input-box">
                    <label for="lName">Last Name</label>
                    <input type="text" placeholder="Last name" id="lName" formControlName="lName">
                </div>
            </div>

            <div class="input-box">
                <label for="email">Email</label>
                <input type="email" placeholder="Email" id="email" formControlName="email">
            </div>
            <div class="group">
                <div class="input-box">
                    <label for="phone">Phone</label>
                    <input type="tel" placeholder="Phone number" id="phone" formControlName="fName">
                </div>
                <div class="input-box">
                    <label for="role">Role</label>
                    <select name="role" id="role" formControlName="fName">
                        <option value="Student">Student</option>
                        <option value="Admin">Admin</option>
                    </select>
                </div>
            </div>
            <div class="group">
                <div class="input-box">
                    <label for="newPass">Create Password</label>
                    <input type="password" placeholder="New password" id="newPass" formControlName="fName">
                </div>
                <div class="input-box">
                    <label for="cPass">Confirm Password</label>
                    <input type="text" placeholder="Confirm password" id="cPass" formControlName="fName">
                </div>
            </div>

        </div>
        <button>Register</button>
    </form>
</div>