.outer {
  display: grid;
  place-items: center;
  padding: 3rem;
}
.container {
  width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
  /* border: 0.1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
form {
  display: flex;
  flex-direction: column;
}
h2 {
  margin-bottom: 14px;
  text-align: center;
  font-size: 26px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.group {
  display: flex;
  justify-content: space-between;
}
.input-box {
  margin-bottom: 3rem;
}
label {
  display: block;
  font-size: 18px;
  margin-bottom: 0.3rem;
}
input {
  width: 230px;
  height: 38px;
  outline: none;
  padding: 0.3rem;
}
#email {
  width: 100%;
}
small {
  display: block;
  margin-top: 0.2rem;
}
select {
  width: 230px;
  height: 38px;
}
button {
  border: none;
  border-radius: 5px;
  padding: 0.8rem;
  background-color: rgba(0, 145, 242, 0.832);
  color: white;
}
.error {
  border: 1px solid red;
}
.required {
  color: red;
}
