.container {
  width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem;
  /* border: 0.1px solid black; */
  box-shadow: rgb(18, 114, 187) 0px 1px 2px 0px,
    rgba(60, 64, 67, 1) 0px 2px 6px 2px;
}
form {
  display: flex;
  flex-direction: column;
}
h2 {
  margin-bottom: 14px;
  text-align: center;
  font-size: 26px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.group {
  display: flex;
  justify-content: space-between;
}
.input-box {
  margin-bottom: 3rem;
}
label {
  display: block;
  font-size: 18px;
  margin-bottom: 0.3rem;
}
input {
  width: 230px;
  height: 38px;
  outline: none;
  padding: 0.3rem;
}
#email {
  width: 100%;
}
small {
  display: block;
  margin-top: 0.2rem;
}
select {
  width: 230px;
  height: 38px;
}
button {
  border: none;
  border-radius: 5px;
  padding: 0.8rem;
  background-color: rgba(0, 145, 242, 0.832);
  color: white;
}
.error {
  border: 1px solid red;
}
.required {
  color: red;
}
